<div class="row">
    <div class="col-6">
        <div class="mb-3 row">
            <label for="num1" class="col-sm-2 col-form-label">Tabla</label>
            <div class="col-sm-10">
                <input type="text"[(ngModel)]="num1" name="num1" class="form-control">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <button (click)="sumar()" class="btn btn-primary">Calcular</button>
    </div>
    </div>
    <div class="col-6">
        <span * ngForm="let total of tablaRes">{{total}}</span>
    </div>
</div>